<div class="ui hidden divider"></div>
<h2 class="ui center aligned icon header">Welcome to Message App - a Test Chat App</h2>
<h2 class="ui center aligned icon header">
  <i class="circular orange power icon"></i>
  Log in to continue
</h2>
<div class="ui hidden divider"></div>
<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
            <div class="column">
                <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
                    <div class="field mar-2">
                        <%= f.label :username, "Username" %>
                        <div class="ui left icon input">
                        <%= f.text_field :username, placeholder: "Username" %>
                        <i class="user icon"></i>
                        </div>
                    </div>
                    
                    <div class="field mar-2">
                        <%= f.label :password, "Password" %>    
                        <div class="ui left icon input">
                            <%= f.password_field :password, placeholder: "Password" %>
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <%= f.submit "Log in", class: "ui orange submit button" %>
                    
                <% end %>
            </div>
            <div class="middle aligned column">
                <%= link_to '<i class="signup icon"></i> Sign Up'.html_safe, signup_path, class: "ui big orange button text-white" %>
            </div>
            
    </div>
    <div class="ui vertical divider">
        Or
    </div>
</div>