<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Friends
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
    
        <div class="ui fluid raised card chatbox">
            <div class=" content" id="messages">
                <div class="ui feed" id="message-container">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, html: {class: "ui reply form"}, url: message_path, remote: true) do |f| %>
                    <div class="ui fluid icon input">
                        <%= f.text_field :body %>
                        <%= f.button '<i class="bordered inverted orange icon edit"></i>'.html_safe %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class=" content">
                <div class="ui styled fluid accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Registered Users
                    </div>
                    
                    <div class="content">
                    <% @user.each do |user| %>
                        <div class="ui list">
                            <div class="item"><%= user.username %></div>
                        </div>
                    <% end %>
                    </div>
                    
                    <div class="active title">
                        <i class="dropdown icon"></i>
                        Online Users
                    </div>
                    <div class="active content">
                        <% @user.each do |user| %>
                            <div class="ui list">
                            <% if user.last_seen_at == true %>
                                <%= user.username %>
                            <% end %>
                            </div>
                        <% end %>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>